In [ ]:
SELECT * FROM tasks

In [ ]:
with all_dates as
(
SELECT
*,
ROW_NUMBER() over(PARTITION BY state ORDER BY date_value) as rn,
date_value -1*(ROW_NUMBER() OVER (PARTITION BY state ORDER BY date_value)) AS group_date
from tasks
)
select min(date_value) as start_date, max(date_value) as end_date,state
from all_dates
GROUP BY state
ORDER BY start_date

In [ ]:
with cte as (
select * , rank() over(partition by state order by date_value) as rn , 
ROW_NUMBER() over(order by date_value ) as row from tasks )
select min(date_value) as start_date , max(date_value) as end_date , state  from cte group by (rn-row) , state
order by min(date_value)