In [ ]:
/* User purchase platform.
-- The table logs the spendings history of users that make purchases from an online shopping website which has a desktop 
and a mobile application.
-- Write an SQL query to find the total number of users and the total amount spent using mobile only, desktop only 
and both mobile and desktop together for each date.
*/

In [ ]:
SELECT * from spending

In [ ]:
with all_spend as
(
select
spend_date,
user_id,
max(platform) as platform,
sum(amount) as amount
from spending
GROUP BY spend_date, user_id
HAVING count(DISTINCT platform) = 1
union all
select
spend_date,
user_id,
'both' as platform,
sum(amount) as amount
from spending
GROUP BY spend_date, user_id
HAVING count(DISTINCT platform) = 2
union all
SELECT DISTINCT
        spend_date,
        CAST(NULL AS INTEGER) AS user_id ,
        'both' AS platform,
        0 AS amount
    FROM spending
)
SELECT spend_date, platform, sum(amount) as total_amount, count(DISTINCT user_id) as total_users
from all_spend
GROUP BY spend_date, platform
ORDER BY spend_date, platform DESC