In [ ]:
select * from date_functions_demo;

In [ ]:
# NOW() / current_timestamp()
SELECT now();
SELECT current_timestamp;

#current_date()
select CURRENT_DATE;

#current_time()
select *, current_time as current_time_col from date_functions_demo

#4. DATE()
SELECT id, created_at, date(created_at), cast(created_at as date) from date_functions_demo;

#5. date_format()
SELECT id,start_date, date_format(start_date,'%d-%m-%y') from date_functions_demo;
SELECT id,start_date, to_char(start_date,'DD-MM-YYYY') from date_functions_demo

#6. datediff
SELECT id,start_date, end_date, datediff(end_date,start_date) from date_functions_demo;

SELECT id,start_date, end_date, (end_date - start_date) as noofdays from date_functions_demo

#date_add
select id,start_date, (start_date + interval '1' day) as start_date_1 from date_functions_demo;

select id, start_date, date_add(start_date, interval 1 day) as start_date_1 from date_functions_demo;

#date_sub
select id, start_date, date_sub(start_date, interval 1 day) as start_date_1 from date_functions_demo;

select id, start_date, (start_date - interval '1' day) as start_date_1 from date_functions_demo;

#day()
select id, start_date, day(start_date) as day from date_functions_demo;

SELECT id, start_date, EXTRACT(DAY FROM start_date) AS day FROM date_functions_demo;
SELECT id,start_date, DATE_PART('day', start_date) AS day FROM date_functions_demo;


#month()
select id, start_date, month(start_date) as month from date_functions_demo;

SELECT id, start_date, EXTRACT(month FROM start_date) AS month FROM date_functions_demo;
SELECT id,start_date, DATE_PART('month', start_date) AS month FROM date_functions_demo;

#year()
select id, start_date, year(start_date) as month from date_functions_demo;

SELECT id, start_date, EXTRACT(YEAR FROM start_date) AS month FROM date_functions_demo;
SELECT id,start_date, DATE_PART('YEAR', start_date) AS month FROM date_functions_demo;

#dayofweek
SELECT id,start_date, dayofweek(start_date) AS week FROM date_functions_demo;

SELECT id, start_date, EXTRACT(DOW FROM start_date) AS week FROM date_functions_demo;


#dayofyear
SELECT id,start_date, dayofyear(start_date) AS week FROM date_functions_demo;
SELECT id,start_date, EXTRACT(DOY from start_date) AS week FROM date_functions_demo;


#dayofmonth
SELECT id,start_date, dayofmonth(start_date) AS week FROM date_functions_demo;
SELECT id,start_date, EXTRACT(DAY from start_date) AS month FROM date_functions_demo;

#monthName
SELECT id,start_date, MONTHNAME(start_date) AS month FROM date_functions_demo;

SELECT id,start_date, to_char(start_date,'Month') AS month FROM date_functions_demo;

#dayName
SELECT id,start_date, DAYNAME(start_date) AS month FROM date_functions_demo;

SELECT id,start_date, to_char(start_date,'Day') AS month FROM date_functions_demo;


#str_to_date
SELECT id,start_date, str_to_date(system_date,'%m%d%y') AS month FROM date_functions_demo;

SELECT id,start_date, TO_CHAR(start_date, 'MM/DD/YY') AS formatted_date FROM date_functions_demo;