In [ ]:
/*

write a sql query to find the winner in each group

The winner in each group is the player who scored the maximum total points within the group In the case of tie
the lowest player_id winds

*/

In [ ]:
SELECT * from players

SELECT * from matches

In [ ]:
with player_scores as
(
select first_player as player_id, first_score as score from matches
union all
select second_player as player_id, second_score as score from matches
),
final_scores as
(
SELECT p.group_id, ps.player_id, sum(score) as score
from player_scores ps
join players p on p.player_id = ps.player_id
GROUP BY p.group_id, ps.player_id
),
final_ranking as
(
    select
    *,
    row_number() over(PARTITION BY group_id ORDER BY score desc,player_id asc) as rn
    from final_scores
)
SELECT * from final_ranking
where rn = 1