Write a query to find no of gold medal per swimmer for swimmer who only won gold medals.

In [ ]:
select * from events;

In [ ]:
select
gold as player_name,
count(1) as no_of_medals
from events
where gold not in ( select silver from events UNION all select bronze from events)
GROUP BY player_name

In [ ]:
with cte as
(
select gold as player_name, 'gold' as medal_type from events 
UNION all 
select silver, 'silver' as medal_type from events 
UNION all 
select bronze, 'bronze' as medal_type from events
)
select player_name, count(1) as no_of_gold_medals
from cte
group by player_name
having count(DISTINCT medal_type) = 1 and max(medal_type) = 'gold'