write a query to print highest and lowest salary emp in each department

In [ ]:
select * from employee
order by dep_id;

In [ ]:
with cte as(
select
dep_id, min(salary) as min_sal, max(salary) as max_sal
from employee
GROUP BY dep_id
)
select employee.dep_id,
max(case when salary = max_sal then emp_name else null end) as max_sal,
max(case when salary = min_sal then emp_name else null end) as min_sal
from employee
join cte on employee.dep_id = cte.dep_id
GROUP BY employee.dep_id
order by employee.dep_id

In [ ]:
with cte as
(
SELECT 
*,
ROW_NUMBER() OVER(PARTITION BY dep_id ORDER BY salary desc) as rank_desc,
ROW_NUMBER() over(PARTITION BY dep_id ORDER BY salary) as rank_asc
from employee
)
select dep_id,
min(case when rank_desc = 1 then emp_name end) as max_sal,
min(case when rank_asc = 1 then emp_name end) as min_sal
from cte
GROUP BY dep_id