In [ ]:
SELECT * from input;

In [ ]:
with cte as
(
select
*,
left(formula,1) as d1,
right(formula,1) as d2,
substr(formula,2,1) as o
from input
)
select cte.id, cte.value, cte.formula, cte.o, ip1.value as d1_value, ip2.value as d2_value,
case when cte.o = '+' then ip1.value + ip2.value else ip1.value - ip2.value end as new_value
from cte
join input as ip1 on cast(cte.d1 as integer) = ip1.id
join input as ip2 on cast(cte.d2 as integer) = ip2.id