Condition if criteria 1 and criteria 2 both are Y and a minimum of 2 team member, should have Y then the output should by Y else N

In [ ]:
with qualified_team as
(
select teamid, count(1) as no_of_eligible_members
from ameriprise_llc
where criteria1 = 'Y' and criteria2 = 'Y'
GROUP BY teamid
HAVING count(1)>=2
)
select *,
case when criteria1 = 'Y' and criteria2 = 'Y' and ql.teamid is not null then 'Y' else 'N' end as qualified_flag
from ameriprise_llc as al
left join qualified_team as ql on al.teamid = ql.teamid

In [ ]:
select al.*,
sum(case when criteria1 = 'Y' and criteria2 = 'Y' then 1 else 0 end) over(PARTITION BY al.teamid) as qualified,
case when criteria1 = 'Y' and criteria2 = 'Y' and  
sum(case when criteria1 = 'Y' and criteria2 = 'Y' then 1 else 0 end) over(PARTITION BY al.teamid) >=2
then 'Y' else 'N' end as qualified_flag
from ameriprise_llc as al

In [ ]:
select al.*,
case when criteria1 = 'Y' and criteria2 = 'Y' and  
sum(case when criteria1 = 'Y' and criteria2 = 'Y' then 1 else 0 end) over(PARTITION BY al.teamid) >=2
then 'Y' else 'N' end as qualified_flag
from ameriprise_llc as al