we need output pair as a table Like there are adult and child in the table and they are goinf for a fair and they a ride on jhoola,
so one adult can go with one child and in last one adult will be alone.

In [ ]:
select * from family;

In [ ]:
with adult as
(
select 
*,
ROW_NUMBER() OVER(order by person) as rn
from family 
where type = 'Adult'
),
child as
(
select  
*,
ROW_NUMBER() OVER(order by person) as rn
from family 
where type = 'Child'
)
select adult.person, child.person from adult
left join child on adult.rn = child.rn

In [ ]:
#based on age

with adult as
(
select 
*,
ROW_NUMBER() OVER(order by age desc) as rn
from family 
where type = 'Adult'
),
child as
(
select  
*,
ROW_NUMBER() OVER(order by age asc) as rn
from family 
where type = 'Child'
)
select adult.person, child.person, adult.age, child.age from adult
left join child on adult.rn = child.rn