We have two tabes people and relations. The people table contains the details of each individual and the relations
table contains the parent-child relationship between two individuals.

write a sql query to print the names of child and his parent in individual columns respectively in order of the 
name of the child

In [ ]:
select * from people;

select * from relations;

In [ ]:
with m as(
SELECT r.c_id, p.name as mother_name from people p
INNER join relations r on p.id = r.p_id and gender = 'F'
),
f as
(
SELECT r.c_id, p.name as father_name from people p
INNER join relations r on p.id = r.p_id and gender = 'M'
)
SELECT f.c_id as child_id,p.name as child_name, m.mother_name, f.father_name
from f
inner join m on f.c_id = m.c_id
INNER join people p on p.id = f.c_id

In [ ]:
SELECT r.c_id, max(c.name) as child_name, max(m.name) as mother_name, max(f.name) as father_name 
from relations r
left join people m on r.p_id = m.id and m.gender = 'F'
left join people f on r.p_id = f.id and f.gender = 'M'
INNER join people c on r.c_id = c.id
GROUP BY r.c_id

In [ ]:
SELECT r.c_id as child_id, max(case when p.gender = 'F' then name end) as mother_name,
max(case when p.gender = 'M' then name end) as father_name
from relations r
join people p on r.p_id = p.id
group by 1