In [ ]:
select * from icc_world_cup

In [ ]:
with all_matches as
(
select team, sum(matches_played) as matches_played
from
(
select team_1 as team, count(*) as matches_played from icc_world_cup GROUP BY team_1
UNION ALL
select team_2 as team, count(*) as matches_played from icc_world_cup GROUP BY team_2
)
GROUP BY team
),
winners as
(
    select winner, count(*) as wins from icc_world_cup group by winner
)
select m.team, m.matches_played, COALESCE(w.wins,0) as wins, m.matches_played - COALESCE(w.wins,0) as losses,
COALESCE(w.wins,0) * 2 as pts
from all_matches m
left join winners as w on m.team = w.winner

In [ ]:
with all_matches as
(
select team, sum(matches_played) as matches_played, sum(win_flag) as wins
from
(
select team_1 as team, count(*) as matches_played, 
sum(case when team_1 = winner then 1 else 0 end) as win_flag
from icc_world_cup GROUP BY team_1
UNION ALL
select team_2 as team, count(*) as matches_played,
sum(case when team_2 = winner then 1 else 0 end) as win_flag
from icc_world_cup GROUP BY team_2
) a
GROUP BY team
)
select *, matches_played - wins as losses, wins*2 as pts from all_matches
order by wins desc