1,2 -> common
4 is mismatch
3 new in source
5 new in target

In [ ]:
select COALESCE(s.id,t.id),-- s.name, t.name ,
case 
    when t.name is null then 'new in target' 
    when s.name is null then 'new in source' else 'mismatch'
end as COMMENT
from source s
FULL outer JOIN target t on s.id = t.id
where s.name != t.name or s.name is NULL or t.name is NULL

In [ ]:
with cte as
(
select *, 'source' as table_name from source
union all
select *, 'target' as table_name from target
)
select id, --count(*) as cnt, min(name) as name_min, max(name) as name_max, 
--min(table_name) as table_name_min, max(table_name) as table_name_max,
case 
    when min(name) != max(name) then 'mismatch'
    when min(table_name) = 'source' then 'new in source'
    when max(table_name) = 'target' then 'new in target'
end as comment
from cte
group by id
having count(*) = 1 or (count(*)= 2 and min(name)!=max(name))