In [ ]:
select * from movies

select * from reviews

In [ ]:
with cte as(
select m.genre, m.title, avg(r.rating) as avg_rating,
ROW_NUMBER() over(PARTITION BY m.genre ORDER BY avg(r.rating)desc) as rn
from movies m
join reviews r on m.id = r.movie_id 
GROUP BY m.genre, m.title
)
select genre, title, round(avg_rating) AS avg_rating,
replicate('*',round(avg_rating)::int)
from cte 
where rn = 1

In [ ]:
with cte as(
select m.genre, m.title, avg(r.rating) as avg_rating,
ROW_NUMBER() over(PARTITION BY m.genre ORDER BY avg(r.rating)desc) as rn
from movies m
join reviews r on m.id = r.movie_id 
GROUP BY m.genre, m.title
)
select genre, title, round(avg_rating) AS avg_rating,
repeat('*',round(avg_rating)::int)
from cte 
where rn = 1