A travel and tour company has 2 tables that relate to customers FAMILIES and countries. Each tour offers a discount if a 
minimum number of people book at the same time.

write a query to print the maximum number of discounted tours any 1 FAMILy in the families table can choose from.

In [ ]:
select * from families

select * from countries

In [ ]:
select * from countries
where min_size < (select max(family_size) from families)

In [ ]:
select max(cnt) from
(
select f.name, count(*) as cnt
from families f
join countries c on f.family_size BETWEEN c.min_size and c.max_size
GROUP BY f.name
)