find the room types that are searched most of times.
output the room type along with the the number of searches for it.
if the filter for room types has more than one room type,
consider each unique room type as separate row.
sort the result based on the number of searches in desc order.

In [ ]:
select * from airbnb_searches

In [ ]:
select
value as room_type,
count(1) as no_of_searches
from airbnb_searches
cross apply string_split(filter_room_types,',')
GROUP BY value
ORDER BY no_of_searches

In [ ]:
SELECT
    unnest(string_to_array(filter_room_types, ',')) AS room_type,
    COUNT(*) AS no_of_searches
FROM airbnb_searches
GROUP BY room_type
ORDER BY no_of_searches;

In [ ]:
WITH cte AS (
  SELECT
    user_id,
    SUM(CASE WHEN filter_room_types LIKE '%entire%' THEN 1 ELSE 0 END) AS Entire_home,
    SUM(CASE WHEN filter_room_types LIKE '%shared%' THEN 1 ELSE 0 END) AS Shared,
    SUM(CASE WHEN filter_room_types LIKE '%private%' THEN 1 ELSE 0 END) AS Private
  FROM
    airbnb_searches
  GROUP BY
    user_id
)
select value, count(value) as no_of_searches from
(
SELECT
  CASE WHEN Entire_home = 1 THEN 'Entire_home' END AS value
FROM
  cte
union all
SELECT
  CASE WHEN Shared = 1 THEN 'Shared' END AS value
FROM
  cte
union all
SELECT
  CASE WHEN private = 1 THEN 'private' END AS value
FROM
  cte) as A
  where value is not null
  group by value;