write a sql query to return all employee whose salary is same in same dapatement.

In [ ]:
select * from emp_salary_1

In [ ]:
with sal_dep as
(
SELECT dept_id,salary
from emp_salary_1
group by dept_id,salary
having count(1) > 1
)
select e.*
from emp_salary_1 as e
join sal_dep as s on e.dept_id = s.dept_id and e.salary = s.salary

In [ ]:
with sal_dep as
(
SELECT dept_id,salary
from emp_salary_1
group by dept_id,salary
having count(1) = 1
)
select e.*
from emp_salary_1 as e
LEFT join sal_dep as s on e.dept_id = s.dept_id and e.salary = s.salary
WHERE s.dept_id is null