There are 2 tables, first table has 5 records and second table has 10 records.
You can assume any values in each of the tables. How many maximum records possible in case of inner join left join right join and full outer join.

In [ ]:
select * from t1

select  * from t2

SELECT * from t3

In [ ]:
select * from t1
join t2 on t1.id_1 = t2.id_2

In [ ]:
select * from t1
join t3 on t1.id_1 = t3.id_3
left join t3 on t1.id_1 = t3.id_3