In [ ]:
#Find the 3rd Highest Salary

with cte as
(
select 
*,
dense_rank() over(ORDER BY salary desc) as rn,
ROW_NUMBER() over(ORDER BY salary desc) as rnk
from employees
)
select * from cte where rn = 3 and rnk = 3

In [ ]:
SELECT Salary
FROM (
SELECT Salary, DENSE_RANK() OVER (ORDER BY Salary DESC) AS
Rank
FROM Employees
) AS RankedSalaries
WHERE Rank = 3;

In [ ]:
#Find Employees Whose Salary is Greater Than Their Manager's Salary

select
e1.employeeid,e1.salary
from employee_1 e1
join employee_1 e2 on e1.managerid = e2.employeeid
where e1.salary > e2.salary

In [ ]:
# Calculate Cumulative Sum in a New Column
SELECT
*,
sum(amount) over(ORDER BY saleid) as cumulative_sum
from sales