In [ ]:
#Find the 3rd Highest Salary

with cte as
(
select 
*,
dense_rank() over(ORDER BY salary desc) as rn,
ROW_NUMBER() over(ORDER BY salary desc) as rnk
from employees
)
select * from cte where rn = 3 and rnk = 3

In [ ]:
SELECT Salary
FROM (
SELECT Salary, DENSE_RANK() OVER (ORDER BY Salary DESC) AS
Rank
FROM Employees
) AS RankedSalaries
WHERE Rank = 3;

In [ ]:
#Find Employees Whose Salary is Greater Than Their Manager's Salary

select
e1.employeeid,e1.salary
from employee_1 e1
join employee_1 e2 on e1.managerid = e2.employeeid
where e1.salary > e2.salary

In [ ]:
# Calculate Cumulative Sum in a New Column
SELECT
*,
sum(amount) over(ORDER BY saleid) as cumulative_sum
from sales

In [ ]:
# Write a Query to Delete Duplicate Rows
with cte as
(SELECT
name,
salary,
ROW_NUMBER() over(PARTITION BY name,salary ORDER BY employeeId) as rowNum
from employees)
DELETE from cte where rowNum > 1

In [ ]:
#Query to Calculate Mean, Median, and Mode
#Query Solution (Mean):
select round(avg(salary),2) as meanSalary
from employees

#Query Solution (Median)
SELECT avg(salary) as medianSalary
from 
(
    SELECT
    salary
    from employees
    ORDER BY salary
    LIMIT 2 - (select count(*) from employees)%2
    OFFSET(select (count(*)-1)/2 from employees )
) as medianSalarySubq

#Query Solution (Mode)

select salary as modeSalary
from employees
GROUP BY salary
ORDER BY count(*) desc
limit 1

In [ ]:
#Query to Fetch Employees Earning More Than Their Department's Average Salary

SELECT
e.name, e.salary, e.departmentid
from employees_3 e
join(select departmentid, avg(salary) as avgSalary from employees_3 GROUP BY departmentid) as dept_avg
on e.departmentid = dept_avg.departmentid
where e.salary > dept_avg.avgSalary

In [ ]:
#Calculate Month-over-Month Sales Growth
select
TO_CHAR(saledate, 'YYYY-MM') as sales_month,
sum(saleamount) as Total_sales,
lag(sum(saleamount)) over(ORDER BY TO_CHAR(saledate, 'YYYY-MM')) as previousMonthSlaes,
round((sum(saleamount) - lag(sum(saleamount)) over(ORDER BY TO_CHAR(saledate, 'YYYY-MM')))*100 / lag(sum(saleamount)) over(ORDER BY TO_CHAR(saledate, 'YYYY-MM')),2) as monthOverMonthGrowth
from sales_1 
GROUP BY TO_CHAR(saledate, 'YYYY-MM')
ORDER BY sales_month