In [ ]:
--1> Write a SQL query to find the nth highest salary from employee table. 
-- Example: finding 3rd highest salary from employee table

with cte as
(
select *,
dense_rank() over( ORDER BY salary desc) as rnk  
from employee
)
select employee_id, first_name, last_name, salary,joining_date,department
from cte
where rnk = 3;

select distinct salary from employee order by salary desc OFFSET 2 limit 1;

In [ ]:
--2> Write a SQL query to find top n records?
-- Example: finding top 5 records from employee table

select * from employee
ORDER BY salary desc
LIMIT 5

In [ ]:
-- 3> Write a SQL query to find the count of employees working in department 'Admin'
select
count(*) as employee_count
from employee
where department = 'Admin'
GROUP BY department

In [ ]:
-- 4> Write a SQL query to fetch department wise count employees sorted by department count in desc order.
select
department,
count(*) department_wise_count
from employee
GROUP BY department
ORDER BY department_wise_count desc

In [ ]:
-- 5>  Write a query to fetch only the first name(string before space) from the FullName column of user_name table.
select
split_part(full_names,' ',1) as user_name
from user_name

In [ ]:
#-- 6> Write a SQL query to find all the employees from employee table who are also managers
select
first_name,
last_name
from employee
where employee_id in (SELECT manager_id FROM employee)

SELECT e1.first_name, e1.last_name
from employee e1
join employee e2 on e1.employee_id = e2.manager_id

In [ ]:
-- 7> Write a SQL query to find all employees who have bonus record in bonus table

SELECT e.*
from employee e
join bonus b on e.employee_id = b.employee_ref_id
GROUP BY e.employee_id

select * from employee
where employee_id in (SELECT employee_ref_id  from bonus where employee.employee_id = bonus.employee_ref_id)

In [ ]:
-- 8> Write a SQL query to find only odd rows from employee table

SELECT employee_id
from employee
where mod(employee_id,2) != 0

In [ ]:
-- 9> Write a SQL query to fetch first_name from employee table in upper case
select
upper(first_name) as first_name
from employee

In [ ]:
-- 10> Write a SQL query to get combine name (first name and last name) of employees from employee table

select
concat(first_name,' ',last_name) as full_name
from employee

In [ ]:
SELECT * from employee

In [ ]:
-- 11> Write a SQL query to print details of employee of employee 'Jennifer' and 'James'.
select *
from employee
where first_name in ('Jennifer', 'James');

In [ ]:
-- 12> Write a SQL query to fetch records of employee whose salary lies between 100000 and 500000
SELECT * from employee
where salary >= 100000 and salary <= 500000

select first_name, last_name, salary from employee where salary between 100000 and 500000;

In [ ]:
-- 13> Write a SQL query to get records of employe who have joined in Jan 2017
select * from employee
where extract(YEAR from joining_date) = 2017
and extract(month FROM joining_date) = 1

select * from employee
where date_part('year', joining_date) = 2017 and date_part('month', joining_date) = 1

In [ ]:
-- 14> Write a SQL query to get the list of employees with the same salary

select e1.*
from employee e1
join employee e2 on e1.salary = e2.salary and e1.employee_id != e2.employee_id

select e1.first_name, e1.last_name, e1.salary
from employee e1, employee e2
where e1.salary = e2.salary and e1.employee_id != e2.employee_id

In [ ]:
-- 15> Write a SQL query to show all departments along with the number of people working there. 
SELECT
department,
count(*) as num_of_people
from employee
GROUP BY department

In [ ]:
-- 16> Write a SQL query to show the last record from a table.
SELECT *
from employee
where employee_id in (SELECT max(employee_id) from employee)

In [ ]:
-- 17> Write a SQL query to show the first record from a table.

SELECT *
from employee
where employee_id in (SELECT min(employee_id) from employee)

In [ ]:
-- 18> Write a SQL query to get last five records from a employee table.
SELECT *
from employee
ORDER BY employee_id DESC
limit 5

In [ ]:
-- 19> Write a SQL query to find employees having the highest salary in each department. 
with cte as
(
select 
*,
ROW_NUMBER() over(PARTITION BY department ORDER BY salary desc) as rnk 
from employee
)
select employee_id, salary, department
from cte
where rnk = 1

SELECT  department, max(salary) as MaxSalary
from employee
GROUP BY department
ORDER BY  MaxSalary

In [ ]:
-- 20> Write a SQL query to fetch three max salaries from employee table.
with cte as
(
select 
*,
ROW_NUMBER() over(ORDER BY salary desc) as rnk 
from employee
)
select employee_id, salary, department
from cte
where rnk BETWEEN 1 and 3

select distinct salary from employee order by salary desc limit 3 ;