Problem Statement
-----------------
- for pairs of brands in the same year (e.g apple/samsung/2020 and samsung/apple/2020)
    - if customer1 = customer3 and customer2=customer4: then keep only one pair
- for pairs of brands in the same year 
    - if customer1 != customer3 or customer2 != customer4: then keep both pairs
- for brands that do not have pairs in the same year : keep those rows as well

In [ ]:
SELECT * FROM brands;

In [ ]:
WITH cte as
(
SELECT *,
CASE 
    WHEN brand1 > brand2 THEN CONCAT(brand1,brand2,year) 
    ELSE  CONCAT(brand2,brand1,year) 
END as pair_id
FROM brands
),
cte_rn as 
(
    SELECT *,
    ROW_NUMBER() OVER(PARTITION BY pair_id ORDER BY pair_id) as rn
    FROM cte
) 
SELECT brand1, brand2, year, custom1, custom2, custom3,custom4
FROM cte_rn
WHERE rn = 1
or (custom1 <> custom3 and custom2 <> custom4)
ORDER BY brand1

In [ ]:
 with cte as
 (
SELECT
    *, 
    CASE 
        WHEN brand1 < brand2  THEN  CONCAT(brand1,brand2,year)
        ELSE  CONCAT(brand2,brand1,year)
    END as pair_id
    from brands
),
 cte_rn as 
(
    select
    *,
    ROW_NUMBER() OVER(PARTITION BY pair_id ORDER BY pair_id) as rn
    from cte
)
SELECT
brand1,
brand2,
custom1,
custom2,
custom3,
custom4
FROM cte_rn
where rn = 1
or (custom1 != custom3 and custom2 != custom4)
ORDER BY 1