In [ ]:
SELECT * FROM brands;

In [ ]:
WITH cte as
(
SELECT *,
CASE 
    WHEN brand1 > brand2 THEN CONCAT(brand1,brand2,year) 
    ELSE  CONCAT(brand2,brand1,year) 
END as pair_id
FROM brands
),
cte_rn as 
(
    SELECT *,
    ROW_NUMBER() OVER(PARTITION BY pair_id ORDER BY pair_id) as rn
    FROM cte
) 
SELECT brand1, brand2, year, custom1, custom2, custom3,custom4
FROM cte_rn
WHERE rn = 1
or (custom1 <> custom3 and custom2 <> custom4)
ORDER BY brand1