Write a sql query to return the footer values from input table, meaning all the last non null values from each field.

In [ ]:
SELECT * FROM footer;

In [ ]:
SELECT * FROM
  (SELECT car FROM footer WHERE car IS NOT NULL ORDER BY id DESC LIMIT 1) car
CROSS JOIN
  (SELECT `length` FROM footer WHERE `length` IS NOT NULL ORDER BY id DESC LIMIT 1) length
CROSS JOIN
  (SELECT `width` FROM footer WHERE `width` IS NOT NULL ORDER BY id DESC LIMIT 1) width
CROSS JOIN
  (SELECT `height` FROM footer WHERE `height` IS NOT NULL ORDER BY id DESC LIMIT 1) height;

In [ ]:
--solution 2
    with cte as 
    (
        SELECT *,
        sum(case when car is not NULL then 1 else 0 end) over(order by id) as car_segment,
        sum(case when length is not NULL then 1 else 0 end) over(order by id) as length_segment,
        sum(case when width is not NULL then 1 else 0 end) over(order by id) as width_segment,
        sum(case when height is not NULL then 1 else 0 end) over(order by id) as height_segment
        from footer
    )
    select 
    first_value(car) over(PARTITION BY car_segment order by id) as new_car,
    first_value(length) over(PARTITION BY length_segment order by id) as new_length,
    first_value(width) over(PARTITION BY width_segment order by id) as new_width,
    first_value(height) over(PARTITION BY height_segment order by id) as new_height
    from cte
    order by id DESC
    limit 1