derived expected output

In [ ]:
SELECT * FROM q4_data;

In [ ]:
SELECT 
min(id),
min(name),
min(location)
from q4_data

In [ ]:
SELECT 
max(id),
max(name),
min(location)
from q4_data