In [ ]:
SELECT * FROM job_skills

In [ ]:
--Solution 1
WITH cte as
(SELECT 
*,
SUM(CASE 
    WHEN job_role is NULL THEN  0
    ELSE  1
END) OVER(ORDER BY row_id) as segment
FROM job_skills) 
SELECT row_id,
first_value(job_role) over(partition by segment ORDER BY row_id) as job_role,
skills
from cte;

In [ ]:
WITH RECURSIVE cte as
(
    base query
    UNION
    RECURSIVE query with termination CONDITION
)
SELECT * FROM cte;

In [ ]:
WITH RECURSIVE cte as
(
    SELECT row_id, job_role, skills
    from job_skills where row_id = 1
    UNION
    SELECT 
    js.row_id, COALESCE(js.job_role,cte.job_role) as job_role, js.skills
    from cte
    join job_skills js on js.row_id = cte.row_id+1
)
SELECT * FROM cte;