In [ ]:
select * FROM company

In [ ]:
select
mng.employee, concat('Team ', ROW_NUMBER() over(ORDER BY mng.employee)) as teams
from company as root
join company as mng on root.employee = mng.manager
where root.manager is NULL

In [ ]:
with RECURSIVE cte as
            (
                SELECT c.employee, c.manager, t.teams
                from company c
                cross join cte_teams t
                where c.manager is NULL
                UNION
                select c.employee, c.manager, COALESCE(t.teams, cte.teams) as Teams
                from company c
                join cte on cte.employee = c.manager
                left join cte_teams t on t.employee = c.employee
            ),
    cte_teams as
            (
                select
                mng.employee, concat('Team ', ROW_NUMBER() over(ORDER BY mng.employee)) as teams
                from company as root
                join company as mng on root.employee = mng.manager
                where root.manager is NULL
            )
select
teams,
string_agg(employee, ', ') as members 
from cte
group by teams
ORDER BY teams