In [ ]:
SELECT * FROM emp

Fetch employee who earn more than there average salary of all employees.

In [ ]:
--Solving with subquery
SELECT * 
from emp
where `SALARY` > (SELECT AVG(`SALARY`) FROM emp)

In [ ]:
WITH avg_sal AS (
  SELECT AVG(`SALARY`) AS avg_sal
  FROM emp
)
SELECT *
FROM emp
JOIN avg_sal ON `SALARY` > avg_sal.avg_sal;

In [ ]:
with avg_sal (avg_sal) as
(SELECT CAST(avg(salary) as int) FROM emp)
SELECT * FROM emp e, avg_sal av
WHERE e.`SALARY` >av.avg_sal

In [ ]:
SELECT * FROM sales;

Find stores who's sales is better than the average sale accross all stores

1. Total sales per each store --total_Sales
2. find the average sales with respect all the stores -- avg sales
3. Find the stores where totalsales > avgsales of all stores

In [ ]:
--1
SELECT s.store_id, SUM(cost) as total_sales_per_store
from sales as s
GROUP BY s.store_id

In [ ]:
--2
SELECT
CAST(AVG(total_sales_per_store) as int) as avg_sales_for_all_stores
FROM
(
SELECT s.store_id, SUM(cost) as total_sales_per_store
from sales as s
GROUP BY s.store_id
) as x;

In [ ]:
--3
SELECT *
FROM
(
    SELECT s.store_id, SUM(cost) as total_sales_per_store
    from sales as s
    GROUP BY s.store_id
) total_sales
JOIN 
(
    SELECT
CAST(AVG(total_sales_per_store) as int) as avg_sales_for_all_stores
FROM
(
SELECT s.store_id, SUM(cost) as total_sales_per_store
from sales as s
GROUP BY s.store_id
) as x
) avg_sales
on total_sales.total_sales_per_store > avg_sales.avg_sales_for_all_stores

**With CTE**

In [ ]:
with Total_Sales (store_id, total_sales_per_store) as 
                (
                SELECT s.store_id, SUM(cost) as total_sales_per_store
                from sales as s
                GROUP BY s.store_id
                ),
        avg_sales (avg_sales_for_all_stores) as
                (
                SELECT
                CAST(AVG(total_sales_per_store) as int) as avg_sales_for_all_stores
                FROM Total_Sales
                )
SELECT *
FROM Total_Sales as ts
JOIN avg_sales as av
ON ts.total_sales_per_store > av.avg_sales_for_all_stores