In [ ]:
select * FROM players_location

In [ ]:
select
max(case when city = 'Bangalore' then name end) as Bangalore,
max(case when city = 'Mumbai' then name end) as Mumbai,
max(case when city = 'Delhi' then name end) as Delhi
FROM
(
    select
    *,
    row_number() over(PARTITION BY city ORDER BY name asc) as player_groups
    from players_location
) a
GROUP BY player_groups
ORDER BY player_groups