In [ ]:
--recursive cte
with cte_numbers
as (
    select 1 as num --anchor query

    union all

    select num+1 --recursive query
    from cte_numbers
    where num < 6 --filter stop recursion
)
select num 
from cte_numbers

Total sales by year

In [ ]:
select * from sales

In [ ]:
WITH RECURSIVE r_cte AS (
    SELECT MIN(period_start) AS dates, MAX(period_end) AS max_date FROM sales
    UNION ALL
    SELECT DATEADD(DAY, 1, dates) AS dates, max_date FROM r_cte
    WHERE dates < max_date
)
SELECT product_id, YEAR(dates) AS report_year, SUM(average_daily_sales) AS total_amount
FROM r_cte
INNER JOIN sales ON date_column BETWEEN period_start AND period_end
GROUP BY product_id, YEAR(dates)
ORDER BY product_id, YEAR(dates);