write an sql query to find the winner in each group

The winner in each group is the player who scored the maximum total points within the group In the case of tie
the lowest player_id wins

In [ ]:
select * from players;
select * from matches;

In [ ]:
with player_score as
(
select first_player as player_id, first_score as score from matches
union all
select second_player as player_id, second_score as score from matches
),
final_score as
(
select
p.group_id, ps.player_id, sum(score) as score
from player_score ps
join players as p on p.player_id = ps.player_id
GROUP BY ps.player_id, p.group_id
ORDER BY ps.player_id asc
),
final_ranking as
(
select *,
rank() over(PARTITION BY group_id order by score desc, player_id asc) as rn
from final_score
)
select * from final_ranking where rn = 1