write a sql qury to find the median salary of each company.

In [ ]:
select * FROM employee

In [ ]:
select company, avg(salary)
from
(SELECT
*,
ROW_NUMBER() OVER(PARTITION BY company ORDER BY salary) as rn,
COUNT(1) OVER(PARTITION BY company) as total_cnt
from employee) a
WHERE rn BETWEEN total_cnt*1.0/2 and total_cnt*1.0/2+1
GROUP BY company