questions:
--Game Play Analysis 

--q1: Write an SQL query that reports the first login date for each player

--q2: Write a SQL query that reports the device that is first logged in for each player

--q3: Write an SQL query that reports for each player and date, how many games played so far by the player. 
--That is, the total number of games played by the player until that date.

--q4: Write an SQL query that reports the fraction of players that logged in again 
 on the day after the day they first logged in, rounded to 2 decimal places

In [ ]:
select * from activity;

In [ ]:
with cte as
(
select
*,
ROW_NUMBER() over(PARTITION BY player_id ORDER BY event_date) as rn
from activity
)
select player_id from cte where rn=1

In [ ]:
with cte as
(
select
*,
ROW_NUMBER() over(PARTITION BY device_id ORDER BY event_date) as rn
from activity
)
select player_id,device_id,event_date from cte where rn = 1