full outer join in depth and alternatives

In [ ]:
SELECT * FROM orders_usa;
SELECT * FROM orders_europe;
SELECT * FROM orders_india;

In [ ]:
with cte as (
SELECT product_id,sales as usa_sales, null as europe_sales, null as india_sales FROM orders_usa
UNION ALL
SELECT product_id,NULL as usa_sales, sales as europe_sales, null as india_sales FROM orders_europe
UNION ALL
SELECT product_id,NULL as usa_sales, NULL as europe_sales, sales as india_sales FROM orders_india
)
SELECT product_id, SUM(usa_sales) as usa_sales, SUM(europe_sales) as europes_sales, SUM(india_sales) as india_sales
from cte
GROUP BY product_id