PWC SQL Interview Question
1,2 -> common
4 is mismatch
3 new in source
5 new in target

In [ ]:
SELECT * FROM `source`;
SELECT * FROM target;

In [ ]:
SELECT COALESCE(s.id, t.id) as id, 
CASE 
    WHEN  t.name is NULL THEN 'New in source'
    WHEN s.name is NULL THEN 'New in Target' 
    ELSE  'mismatch'
END
FROM source s 
FULL OUTER JOIN target t on s.id=t.id
where s.name!=t.name or s.name is NULL or t.name is NULL