In [ ]:
SELECT * FROM students;

**Find students who know only sql and python**

solution:1
- The student should have 2 skills
- 2 skills sql and python

In [ ]:
WITH cte as 
(
SELECT
student_id,
COUNT(*) as total_skills,
COUNT(case when skill in ('sql','python') then skill else null end) as sp_skills
FROM students
GROUP BY student_id
)
SELECT * FROM cte 
WHERE total_skills = 2 and sp_skills = 2

Solution: 2
- using having clause

In [ ]:
SELECT
student_id,
COUNT(*) as total_skills,
COUNT(case when skill in ('sql','python') then skill else null end) as sp_skills
FROM students
GROUP BY student_id
HAVING COUNT(*) = 2 and COUNT(case when skill in ('sql','python') then skill else null end) = 2

solution: 3

In [ ]:
SELECT
student_id,
COUNT(*) as total_skills,
COUNT(case when skill in ('sql','python') then skill else null end) as sp_skills,
COUNT(case when skill NOT in ('sql','python') then skill else null end) as spn_skills
FROM students
GROUP BY student_id
HAVING COUNT(*) = 2 and COUNT(case when skill NOT in ('sql','python') then skill else null end) = 0

Solution: 4
- subquery in where

In [ ]:
SELECT
student_id,
COUNT(*) as total_skills
FROM students
WHERE student_id NOT IN (SELECT student_id from students WHERE skill not in ('python','sql'))
GROUP BY student_id
HAVING COUNT(*) = 2

Solution: 5
- except

In [ ]:
SELECT
student_id
FROM students
GROUP BY student_id
HAVING COUNT(*) = 2 
EXCEPT
SELECT 
student_id
FROM students
where skill not in ('sql','python')

Solution: 6
- not exists
- co-related subquery

In [ ]:
SELECT
student_id,
COUNT(*) as total_skills
FROM students s1
WHERE NOT EXISTS (SELECT 1 FROM students s2 WHERE s2.skill NOT in ('sql','python') and s1.student_id=s2.student_id)
GROUP BY student_id
HAVING COUNT(*) = 2

solution: 8
- with cte

In [ ]:
WITH 
  sql AS (SELECT * FROM students WHERE skill = 'sql'),
  python AS (SELECT * FROM students WHERE skill = 'python'),
  other AS (SELECT * FROM students WHERE skill NOT IN ('sql', 'python')) 
SELECT s.*, o.*
FROM sql s
JOIN python p ON s.student_id = p.student_id
LEFT JOIN other o ON s.student_id = o.student_id
WHERE o.student_id IS NULL;

solution: 8

In [ ]:
SELECT s.*, o.*
FROM students s
JOIN students p ON s.student_id = p.student_id
LEFT JOIN students o ON s.student_id = o.student_id and o.skill not in ('sql','python')
WHERE s.skill='sql' and p.skill='python' and o.student_id is NULL

Solution: 9

In [ ]:
WITH sql AS (SELECT * FROM students WHERE skill = 'sql'),
python AS (SELECT * FROM students WHERE skill = 'python'),
 other AS (SELECT * FROM students WHERE skill NOT IN ('sql', 'python')) 
SELECT student_id 
from sql
INTERSECT
SELECT student_id
from python
EXCEPT
SELECT student_id from other;

solution: 10

In [ ]:
WITH cte as 
(
SELECT
student_id,
SUM(case when skill in ('sql','python') then 1 else 5 end) as sp_skills
FROM students
GROUP BY student_id
)
SELECT * FROM cte 
WHERE sp_skills = 2