SQL Order of Execution

In [ ]:
SELECT * 
FROM employee
where salary > 6000
ORDER BY salary DESC
LIMIT 5

In [ ]:
SELECT dept_id, SUM(salary) as dep_salary
FROM employee
where salary > 6000
GROUP BY dept_id
HAVING sum(salary) > 33000
ORDER BY salary DESC

In [ ]:
select * FROM dept

In [ ]:
SELECT e.dept_id,d.dep_name, SUM(e.salary) as dep_salary
FROM employee e
JOIN dept d on e.dept_id=d.dep_id
where salary > 6000
GROUP BY e.dept_id,d.dep_name
HAVING sum(e.salary) > 33000
ORDER BY e.salary DESC

from -> join -> where -> group by -> having -> select -> order by -> limit